# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.sln.docstates

# Build folders
/build/
/out/
/bin/

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
CMakeUserPresets.json

# Executables
*.exe

# Debug
*.pdb
*.ilk
*.log

# Compiler
*.obj
*.o
*.lib
*.dll

# Temp
*.tmp
*.cache

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/